#surveyName {
    margin: 0;
}

#answerName {
    background-color: #f2f2f2;
}

#addQuestion {
    border-radius: 0 .25rem .25rem 0;
    font-weight: bold;
}

#addAnswer {
    border-radius: 0 .25rem .25rem 0;
    font-weight: bold;
}

#EditSurveyBox {
    width: 60%;
    margin-left: 240px;
    margin-top: 60px;
}