.loginSheet {
    text-align: center;
    background: white;
    padding: 10px;
    margin-top: 120px;
    border-radius: .25rem;
}

#box {
    width: 40%;
    margin-left: 340px;
}

.new-display-4 {
    font-size: 2.2rem;
    font-weight: 300;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.inputStyle {
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    width: 60%;
    border-radius: 0.25rem;
}

.buttonStyleWidth {
    width: 60%;
}

.img-style {
    height: 110px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-style:hover{
    height: 125px;
    width: 115px;
    cursor: pointer;
}